.people-section {
  height: auto;
  min-height: auto;
  padding: 10vh 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.people-section h2 {
  margin: 0rem 0 4rem;
}

.people-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.people {
  padding: 1rem 2rem;
  text-align: center;
  flex-grow: 1;
  width: 300px;
}