.landing {
  position: relative;
  width: 100vw;
  height: 101vh;
  padding: 5rem 0 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing img {
  max-width: unset;
  width: auto;
  min-width: 100vw;
  height: 90vh;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 0;
}

.landing h1 {
  position: relative;
  top: calc(50% - 10rem);
  right: 10%;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .landing img {
    width: 100vw;
    height: auto;
  }

  .landing h1 {
    font-size: 1.5rem;
    top: calc(10% - 1.3rem);
    position: relative;
    margin-bottom: 1rem;
    right: 50%;
    transform: translate(50%, 0);
  }

  .landing h2 {
    font-size: 1rem;
    text-align: center;
    top: calc(10% - 1.5rem);
    position: relative;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .landing img {
    width: 100vw;
    height: auto;
  }

  .landing h1 {
    top: unset;
    position: relative;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .landing img {
    width: 1600px;
  }

  .landing h1 {
    right: 20%;
  }
}